*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

header{
    background-color: black;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 40px;
    font-size:15px;
  
}
nav{
    display:flex;
    align-items:center;
    gap:35px;
}

nav a{
    color:white;
    text-decoration:none;
    font-weight:bold;
}

nav a:hover{
    color:#ff3131;
}

/* Botón Reservar */

.btn-header{
    background:#ff3131;
    padding:12px 25px;
    border-radius:30px;
    color:white;
}

/* Botón Iniciar Sesión */

.botoniniciar{
    border:2px solid white;
    padding:10px 25px;
    border-radius:30px;
}

.portada img {
     width: 100%;
    height: 500px;
}


.categorias{
    display:flex;
    gap:20px;
    border-bottom:1px solid #ddd;
    padding-bottom:10px;
}

.categorias a{
    text-decoration:none;
    color:#333;
    padding:10px 15px;
}

.categorias .activo{
    color:#0066cc;
    border-bottom:3px solid #0066cc;
}

.descripcion{
    margin:20px 0;
    font-size:20px;
}

.contenedor-autos{
     display:grid;
    grid-template-columns: repeat(4, 1fr);
    gap:20px;
    margin-top:20px;

}

.card{
    min-width:320px;
    background:white;
    border-radius:10px;
    overflow:hidden;
    box-shadow:0 2px 8px rgba(0,0,0,0.15);
}

.card img{
    width:100%;
    height:180px;
    object-fit:contain;
    background:#f1f1f1;
}

.info{
    padding:20px;
}

.info h2{
    margin-bottom:10px;
}

.info p{
    color:#666;
    margin-bottom:20px;
}

.info span{
    display:block;
    margin-top:10px;
    font-size:18px;
}